.intro{
    position: relative;
    height: 100vh;
    @include r(575){
        @include ot(portrait){
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            height: auto;
            min-height: 100vh;
        }
    }
    &::before{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 0.22;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%),
        linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72.00%, #3F68F9 100%);
    }
    &::after{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    }
    &__container{
        display: flex;
        align-items: center;
        @include r(575){
            @include ot(portrait) {
                height: auto;
                align-items: flex-start;
            }
        }
    }
    &__content{
        position: relative;
        z-index: 2;
        width: 100%;
    }
    &__logo{
        width: 100%;
        max-width: vw(176px);
        height: auto;
        @include r(575) {
            @include ot(portrait) {
                max-width: em(113, 16);
            }
        }
    }
    &__title{
        margin-top: vh(72px);
        @include r(767) {
            margin-top: rem(32, 16);
        }
    }
    &__text{
        margin-bottom: vh(44px);
        line-height: 1.1;
        @include r(767) {
            margin-bottom: rem(15, 16);
            font-size: 18px;
        }
    }
    &__price{
        display: inline-flex;
        align-items: center;
        border-radius: 500px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%),
        radial-gradient(141.42% 141.42% at 100.00% -0.00%, #E0B8FF 0%, #B6B9FF 100%);
        &-new{
            display: inherit;
            padding: 3px 13px;
            border-radius: 500px;
            background: radial-gradient(141.42% 141.42% at 100.00% -0.00%, #E0B8FF 0%, #B6B9FF 100%);
        }
        &-old{
            display: inherit;
            align-items: center;
            padding: 5px 12px;
            color: #808080;
            font-size: vw(16px);
            font-weight: 500;
            line-height: 120%;
            text-decoration: line-through;
            @include r(767){
                font-size: 13px;
            }
        }
    }
    &__decor{
        position: absolute;
        top: 50%;
        right: vw(62px);
        z-index: 1;
        width: 100%;
        transform: translateY(-50%);
        max-width: vw(824px);
        @include aspect-ratio(824, 716, true);
        &-wrap{
            position: relative;
            width: 100%;
            height: 100%;
            &::before{
                display: block;
                content: '';
                position: absolute;
                top: 12%;
                left: 0;
                z-index: 0;
                width: 100%;
                max-width: vw(658px);
                transform: rotate(-140.03deg);
                border-radius: vw(658px);
                opacity: 0.5;
                background: $color-purple;
                filter: blur(100px);
                @include aspect-ratio(658, 402, true);
            }
        }
        &-smkt{
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        &-txt{
            position: absolute;
            bottom: 22%;
            left: vw(225px);
            z-index: 1;
            width: vw(209px);
            height: auto;
            @include r(575) {
                @include ot(portrait) {
                    bottom: 23%;
                    left: 28%;
                    width: 24%;
                }
            }
        }
        @include r(575) {
            @include ot(portrait) {
                position: relative;
                top: 0;
                right: 5.7%;
                max-width: 94.3%;
                transform: inherit;
            }
        }
    }
}

.benefits{
    &__wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: vh(61px) vw(112px);
        @include rIn(576, 991){
            row-gap: vh(41px);
        }
        @include r(575) {
            @include ot(portrait) {
                grid-template-columns: 1fr;
                gap: em(24, 16);
            }
        }
    }
    &__col{
        display: grid;
        justify-items: flex-start;
        grid-template-columns: 1fr;
        gap: vh(16px);
        @include r(575) {
            @include ot(portrait) {
                grid-template-columns: em(83, 16) 1fr;
                gap: 1em;
                align-items: center;
            }
        }
        &-icon{
            display: flex;
            align-items: center;
        }
        &-text{
            @include r(575) {
                @include ot(portrait) {
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    &__title{
        @include r(575) {
            @include ot(portrait) {
                br{
                    display: none;
                }
            }
        }
    }
    &__icon{
        width: vw(83px);
        height: auto;
        &.--scooter{
            width: vw(94px);
            @include r(575) {
                @include ot(portrait) {
                    width: em(83, 16);
                }
            }
        }
        @include r(575) {
            @include ot(portrait) {
                width: em(83, 16);
                height: em(83, 16);
            }
        }
    }
}

.access{
    &__about{
        margin-bottom: vh(70px);
        @include rIn(576, 991){
            margin-bottom: vh(20px);
        }
        @include r(575) {
            @include ot(portrait) {
                margin-bottom: 0;
            }
        }
    }
}

.join{
    @include r(767) {
        @include ot(portrait) {
            overflow: hidden;
        }
    }
    @include r(575) {
        @include ot(portrait) {
            padding-bottom: 11vmax;
        }
    }
    &__wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: vh(128px) vw(50px);
        @include rIn(576, 991){
            row-gap: vh(78px);
        }
        @include r(575) {
            @include ot(portrait) {
                grid-template-columns: 1fr;
                gap: 0;
            }
        }
    }
    &__col{
        position: relative;
        @include r(575) {
            @include ot(portrait) {
                &.--col2{
                    display: none;
                }
            }
        }
        &-decors{
            position: relative;
            pointer-events: none;
            @include rmin(576) {
                @include ot(landscape) {
                    position: absolute;
                }
            }
            &::before {
                display: block;
                content: '';
                position: absolute;
                z-index: -1;
                width: 100%;
                max-width: vw(413px);
                transform: rotate(-140.03deg);
                border-radius: vw(413px);
                opacity: 0.29;
                background: $color-purple;
                filter: blur(100px);
                @include aspect-ratio(413, 369, true);
            }
            &.--smkt1{
                bottom: 48%;
                right: 40%;
                transform: translate(50%, 50%);
                width: vw(872px);
                height: vw(893px);
                &::before {
                    top: 26%;
                    left: 35%;
                }
                .--decor1{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .--decor2{
                    position: absolute;
                    left: vw(160px);
                    bottom: 35%;
                    width: vw(296px);
                }
            }
            &.--smkt2{
                bottom: 8%;
                right: 0;
                width: vw(539px);
                height: vw(539px);
                &::before{
                    top: 27%;
                    left: 10%;
                }
                .--decor3{
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    width: vw(284px);
                    transform: translate(-50%, 50%);
                }
                .--decor4{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include r(575) {
                    @include ot(portrait) {
                        width: 100%;
                        height: auto;
                        bottom: 0;
                        &::before {
                            top: 34%;
                            left: 23%;
                            max-width: 51.71%;
                            opacity: 1;
                            transform: rotate(-40.03deg);
                            @include aspect-ratio(193, 216, true);
                        }
                        .--decor3 {
                            width: 55%;
                        }
                    }
                }
            }
        }
    }
    &__btn{
        margin-top: vh(48px);
    }
}