@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/normalize";


@import '../../node_modules/swiper/swiper-bundle';

html,
body {
    height: 100%;
}

html {
    font-size: vw(24px);
    line-height: 120%;
    @include r(767){
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    line-height: 120%;
    font-weight: 500;
    color: $color-text;
    @extend %antialias;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
main{
    scroll-behavior: smooth;
    position: relative;
}
img,
svg {
    max-width: 100%;
}

svg {
    fill: currentColor;
    max-height: 100%;
}

button,
a {
    cursor: pointer;
}

@include r(767){
    a[href^=http]{
        overflow-wrap: break-word;
    }
}

strong,
.bold {
    font-weight: 700;
}

.layout {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__footer{
        flex-shrink: 0;
    }
    &__main{
        flex-grow: 1;
        position: relative;
    }
}

section{
    padding: 5vmax 0;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(40px);
    padding-right: rem(40px);
    width: 100%;
    height: 100%;
    max-width: 70.5%;
    @include r(767){
        max-width: 100%;
        padding-left: rem(32, 16);
        padding-right: rem(32, 16);
    }
}


// Components
@import "components/index";
@import "pages/main-page.scss";

// Utils
@import "utils/utils";


@media (inverted-colors) {
    img, video {
        filter: invert(100%);
    }
}
