.footer{
    padding: 4vmax 0 8.9vmax;
    color: $color-grey;
    font-size: vw(13px);
    font-weight: 400;
    line-height: 120%;
    @include rIn(768, 991) {
        font-size: vw(20px);
    }
    &__wrap{
        padding-right: 2%;
    }
    a{
        color: inherit;
        transition: all .3s ease-in-out;
        &:hover {
            color: $color-text;
            text-decoration: none;
        }
    }
}
