include ../utils/mixins
include ../utils/includes

- var title = 'Яндекс GO - Вступайте в клуб Самокатов';

// metablocks
-   var metaDescription = 'Купите абонемент, чтобы статьчастью клуба в новом сезоне–2024. 8 месяцев за 499₽';
-   var metaOgImage = '/img/socials/og-image.jpg'; //fb
-   var metaTwImage = '/img/socials/og-image.jpg'; //tw

block variables

doctype html
html(lang=LANG)
    head
        meta(charset='utf-8')
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(content="telephone=no" name="format-detection")
        meta(name="HandheldFriendly" content="true")
        +meta()
        +favicon()
        //- AOS animations
        link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        //- 
        link(rel='stylesheet' href='css/app.css')
        block head

    body.layout
        main.layout__main
            block content
        footer.layout__footer.footer
            +footer()
            block footer

        script(type='text/javascript' src='js/vendors.js')
        script(type='text/javascript' src='js/app.js')
        block script
